<div class="inner-stage">
  <div>
    <h1>First of all</h1>
    <p>Connect your Universal Profile</p>
  </div>

  <ng-lottie
    *ngIf="!loading"
    width="300px"
    containerClass="moving-box another-class"
    [options]="{ path: '/assets/animations/unlock.json' }"
  ></ng-lottie>

  <app-ui-loading-animation *ngIf="loading"></app-ui-loading-animation>

  <button *ngIf="!loading" class="btn btn-primary" (click)="login()">
    <i class="fas fa-lock mr-2"></i> Connect Universal Profile
  </button>
  <button *ngIf="loading" class="btn btn-primary">
    <i class="fas fa-spinner-third fa-spin"></i>
  </button>
</div>
