<div class="inner-stage">
  <div>
    <h1>First of all, set your password</h1>
    <p>
      This is needed to recover your profile in the case of losing. So keep is
      safe!
    </p>
  </div>

  <div>
    <input
      [(ngModel)]="password"
      type="password"
      placeholder="Enter password"
      class="input input-bordered w-full mb-4"
    />
    <p *ngIf="error" class="text-error">{{ error }}</p>
  </div>

  <button class="btn btn-primary" (click)="create()">Set password</button>
</div>
