<div class="inner-stage">
    <h1>Change Recovery Password</h1>
    <input
      [(ngModel)]="newpassword"
      type="text"
      placeholder="Enter new Password"
      class="input input-bordered w-full mb-4"
      [disabled]="loading"
    />
    <p *ngIf="message">{{ message }}</p>
    <button *ngIf="!loading" class="btn btn-primary" (click)="add()">
      Set new Password
    </button>
    <button *ngIf="loading" class="btn btn-primary">
      <i class="fas fa-spinner-third fa-spin"></i>
    </button>
  </div>
  