<div class="inner-stage">
  <div>
    <h1>Enter your secret</h1>
    <p>Almost done! Keep going</p>
  </div>

  <input
    *ngIf="!loading"
    [(ngModel)]="secret"
    type="text"
    placeholder="Enter your current Password to recover"
    class="input input-bordered w-full mb-4"
    [disabled]="loading"
  />


  

 <p *ngIf="!loading && secret">Last Step! Enter your new Password</p>
  <input
  *ngIf="!loading && secret"
  [(ngModel)]="newsecret"
  type="text"
  placeholder="Set new Password to recover"
  class="input input-bordered w-full mb-4"
  [disabled]="loading"
/>

  <app-ui-loading-animation *ngIf="loading"></app-ui-loading-animation>

  <button *ngIf="!loading" class="btn btn-primary" (click)="recover()">
    REGAIN ACCESS to your UP!
  </button>
  <button *ngIf="loading" class="btn btn-primary">
    <i class="fas fa-spinner-third fa-spin"></i>
  </button>
</div>
